.contents {
    width: 85%;
    max-width: 1620px;
    margin: 0 auto;
    padding-top: 136px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 26px;
    box-sizing: border-box;
}

.firstColumn {
    display: flex;
    flex-direction: column;
    gap: 26px;
    flex: 2;
}

.firstRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #1E1E1E;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgb(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-color: #383838;
}

.firstRow p {
    font-size: 32px;
}

.secondRow {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgb(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-color: #383838;
}

.contents img {
    width: 254px;
    height: 254px;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 40px;

}

.contents .verifyIcon {
    width: 26px;
    height: 26px;
    margin-right: 0;
}

.profileSec .name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profileSec .title {
    margin-top: 13px;
    margin-bottom: 7px;
}

.profileSec .title p {
    font-size: 20px;
    font-weight: 200;
}

.profileSec .location p {
    font-size: 15px;
    font-weight: 100;
    padding-bottom: 26px;
}

.contactButton button {
    background-color: #2D2D2D;
    color: white;
    border: 2px solid #383838;
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.contactButton button:hover {
    background-color: #4b4b4b;
    border: 2px solid #4b4b4b;
    color: #ffffff;
}

.whoAmI p {
    font-size: 20px;
    padding-bottom: 7px;
}

.Descrips p {
    font-size: 20px;
    font-weight: 100;
}

.thirdRow {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgb(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-color: #383838;
}

.whyChooseMe p {
    font-size: 20px;
    padding-bottom: 26px;
}

.h1Choose p {
    font-size: 20px;
    font-weight: 200;
}

.h1ChooseDes p {
    font-size: 20px;
    font-weight: 100;
}

.fourthRow {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgb(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-color: #383838;
}

.portFolio p {
    font-size: 20px;
    padding-bottom: 26px;
}

.categoryBut {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 26px;
    width: 100%;
}

.graphBut {
    flex: 1;
}

.graphBut button {
    border-radius: 50px;
    padding: 20px 0;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #1E1E1E;
    border-style: solid;
    border-width: 2px;
    border-color: #383838;
    outline: 0;
    box-shadow: 0 0px 20px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.28s ease, transform 0.28s ease;
}

.graphBut button:hover {
    background-color: #1b1b1b;
    transform: translateY(-5px);
}

.fifthRow {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgb(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-color: #383838;
}

.noneBut {
    flex: 1;
}

.noneBut button {
    border-radius: 25px;
    padding: 20px 0;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #1E1E1E;
    border-style: solid;
    border-width: 2px;
    border-color: #383838;
    outline: 0;
    box-shadow: 0 0px 20px rgb(0, 0, 0, 0.5);
    opacity: 0;
}

.firstRowSecond {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1E1E1E;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgb(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-color: #383838;
}

.descriptionSec p {
    font-size: 20px;
    padding-bottom: 26px;
}

.titleToo p {
    font-size: 20px;
}

.companyname p {
    font-size: 16px;
    font-weight: 200;
}

.date p {
    font-size: 16px;
    font-weight: 100;
}

.location p {
    font-size: 16px;
    font-weight: 100;
}

.secondColumn {
    display: flex;
    flex-direction: column;
    gap: 26px;
    flex: 1;
    /* Occupy less space than the first column */
    width: 100%;
}

.secondColumn hr {
    margin-top: 26px;
    margin-bottom: 26px;
    border: 1px solid rgb(255, 255, 255, 0.2);
}

.secondRowSecond {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1E1E1E;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgb(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-color: #383838;
}

.titleTooRow p {
    font-size: 20px;
    padding-bottom: 26px;
}

.titleDescription p {
    font-size: 16px;
    font-weight: 100;

}

.thirdRowSecond {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.thirdRowSecond p a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    text-decoration: none;
    transition: color 0.28s ease;
}

.thirdRowSecond p a:hover {
    color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1100px) {
    .contents {
        flex-direction: column;
        width: 95%;
    }

    .firstColumn,
    .secondColumn {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .contents {
        padding-top: 114px;
    }

    .firstRow {
        flex-direction: column;
        padding: 40px;
        text-align: center;
    }

    .contents img {
        margin-right: 0;
        width: 180px;
        height: 180px;
    }

    .firstRow p {
        font-size: 24px;
    }

    .secondRow,
    .thirdRow,
    .fourthRow,
    .fifthRow,
    .firstRowSecond,
    .secondRowSecond {
        padding: 40px;
    }

    .categoryBut {
        flex-direction: column;
    }

    .noneBut {
        display: none;
    }

    .profileSec .name {
        justify-content: center;
        padding-top: 26px;
    }
}